/* header css */
.app-logo {
  width: 170px;
  height: 45px;
}

.app-header {
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 0px 80px;
  justify-content: space-between;
}

.side-bar{
  min-height: 100px;
  padding-left: 60px;
  display: flex;
  align-items: center;
}

.text-xl{
  font-size: 23px;
  color: #323B4B;
}


.muneStyle {
  padding-left: 20px;
  background-color: white;
}

/* package style */

.dropDownButton {
  width: 146px;
  height: 43px;
  border-radius: 16px;
  background: #f0f5fa;
  border: none;
  color: #b0b7c3;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menuItem {
  display: block;
  margin: 10px 0;
  height: 50px;
  width: 216px;
  font-family: Inter;
  border-radius: 14px;
  display: flex;
  padding-left: 30px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  gap: 17px;
}

.select-menuItem {
  display: block;
  margin: 10px 0;
  height: 50px;
  background-color: #f0f5fa;
  width: 216px;
  font-family: Inter;
  border-radius: 14px;
  display: flex;
  padding-left: 30px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  gap: 17px;
}

.menue-item {
  text-decoration: none;
}

.menue-logo {
  height: 16px;
  width: 16px;
}

/* reuseable css */

.title {
  font-family: Inter;
  font-size: 26px;
  font-weight: bold;
  color: #323b4b;
}

.text-style-12 {
  font-family: Inter;
  font-size: 12px;
  color: #b0b7c3;
}
.text-style-14 {
  font-family: Inter;
  font-size: 14px;
  color: #4e5d78;
}
.text-style-18 {
  font-size: 18px;
  color: #8a94a6;
}
.text-style-20 {
  font-size: 20px;
  color: #b0b7c3;
}
.text-style-16 {
  font-size: 16px;
  color: #8a94a6;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

.option-icon {
  height: 24px;
  width: 24px;
  margin-left: 30px;
}

.m-0 {
  margin: 0px;
}
.m-2 {
  margin: 8px;
}
.m-4 {
  margin: 16px;
}

.font-inter {
  font-family: Inter;
}

.ml-12 {
  margin-left: 32px;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.jestify-right {
  justify-content: right;
}

.items-center {
  align-items: center;
}
.mt-24 {
  margin-top: 94px;
}
.mt-4 {
  margin-top: 16px;
}
.mt-6 {
  margin-top: 24px;
}

.mr-3 {
  margin-right: 12px;
}

.my-6 {
  margin: 24px 0;
}

.mb-4 {
  margin-bottom: 16px;
}
.pb-8 {
  padding-bottom: 32px;
}

.text-center {
  text-align: center;
}

.social-button {
  height: 58px;
  width: 256px;
  background: #f0f5fa;
  border-radius: 16px;
  border: none;
}

.gap-4 {
  gap: 16px;
}

.block {
  display: block;
}

.divider {
  width: 230px;
  height: 2px;
  background-color: #f0f5fa;
}

.form-input {
  width: 540px;
  height: 58px;
  border-radius: 16px;
}

.font-14 {
  font-size: 14px;
  font-family: Inter;
}

.check-box {
  height: 28px;
  width: 28px;
  background-color: #edeff1;
  border: none;
}

.modal-ok-button {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  width: 120px;
  height: 40px;
}

.relative {
  position: relative;
}
.icon-style {
  width: 20px;
  width: 20px;
  margin-right: 8px;
}

.active-dot {
  height: 4px;
  border-radius: 2px;
  background-color: #38cb89;
  width: 68px;
}
.inactive-dot {
  height: 4px;
  border-radius: 2px;
  background-color: #f3f3f3;
  width: 68px;
}

.table-img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
}
.ant-form-item .ant-form-item-explain-error {
  color: #ff5630;
}

.profile-img{
  height: 47px;
  width: 47px;
  border-radius: 30px;
}

.search-input{
  width: 540px;
  height: 58px;
  background-color: #F0F5FA;
  border: none;
  border-radius: 14px;
}


/* library css global */

:where(
    .css-dev-only-do-not-override-zl9ks2
  ).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):focus,
:where(
    .css-dev-only-do-not-override-zl9ks2
  ).ant-input-outlined.ant-input-status-error:not(
    .ant-input-disabled
  ):focus-within {
  border-color: #ff5630;
}

:where(.css-dev-only-do-not-override-zl9ks2).ant-spin .ant-spin-dot-item {
  background-color: #ff5630;
}
